<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.dataexpo.autogate">

    <uses-permission android:name="android.permission.WAKE_LOCK" />

    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.MOUNT_UNMOUNT_FILESYSTEMS" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.hardware.camera.autofocus" />
    <uses-permission android:name="android.permission.WRITE_SETTINGS" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.GET_TASKS" />
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />
    <uses-permission android:name="android.permission.FLASHLIGHT"/>
    <uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW"/>
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE" />

    <application
        android:allowBackup="false"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        tools:ignore="GoogleAppIndexingWarning"
        android:name=".service.MainApplication"
        android:hardwareAccelerated="false"
        android:largeHeap="true">

        <!--android:launchMode="singleInstance"-->
        <activity
            android:name=".activity.MainSelectActivity"

            android:theme="@style/AppTheme">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".activity.GateActivityReverse"/>
        <activity android:name=".activity.GateSetActivity"/>
        <activity android:name=".activity.MainSettingActivity"/>
        <activity android:name=".activity.UsersActivity"/>
        <activity android:name=".activity.TestActivity"/>
        <activity android:name=".activity.MQTTSettingActivity"/>
        <activity android:name=".activity.UserFilterActivity"/>
        <activity android:name=".activity.RecordsActivity"/>
        <activity android:name=".activity.GateRecordActivity"/>
        <activity android:name=".activity.FaceRecordActivity"/>
        <activity android:name=".activity.OtherActivity"/>
        <activity android:name=".activity.CameraTestActivity"/>
        <activity android:name=".activity.IPActivity"/>

        <!--人脸识别设置-->
        <activity android:name=".activity.faceset.CameraDisplayAngleActivity"/>
        <activity android:name=".activity.faceset.FaceAuthActivity"/>
        <activity android:name=".activity.faceset.FaceDetectAngleActivity"/>
        <activity android:name=".activity.faceset.FaceLivinessType"/>
        <activity android:name=".activity.faceset.MinFaceActivity"/>
        <activity android:name=".activity.faceset.MirrorSettingActivity"/>
        <activity android:name=".activity.faceset.RecognizeModleThresholdActivity"/>
        <activity android:name=".activity.faceset.ScreensaverActivity"/>
        <activity android:name=".activity.faceset.SettingMainActivity"/>
        <activity android:name=".activity.UserDetails"/>
        <activity android:name=".activity.faceset.FaceLivenessThresholdActivity"/>

        <service android:name=".service.MainService"/>

        <!-- Mqtt服务 -->
        <service android:name="org.eclipse.paho.android.service.MqttService" />

        <uses-library android:name="org.apache.http.legacy" android:required="false"/>
    </application>
</manifest>